.vh-l-75
  .row.gx-2.gx-m-4
    .col-12.bb-img
      h2
        span.title-bg 研究
        |專長
    .col-m-4.txt-center.my-4.pb-4.bb-img.bb-img-m-0.br-img-m
      span.fa.fa-graduation-cap.fa-3x.txt-primary.mb-4
      h3 表演藝術師資培育
    .col-m-4.txt-center.my-4.pb-4.bb-img.bb-img-m-0.br-img-m
      span.fa.fa-music.fa-3x.txt-primary.mb-4
      h3 教育劇場
    .col-m-4.txt-center.my-4.pb-4
      span.fa.fa-handshake-o.fa-3x.txt-primary.my-4.pb-4
      h3 藝企合作

    .col-12.bb-img
      h2
        span.title-bg 專業
        |認證
    .col-m-6.bb-img.my-4.pb-4.br-img-m
      .bg-circle
        span.fa.fa-paint-brush
      h3.txt-center 創作性藝術療法
        span.txt-md.block Creative Arts Therapy
    .col-m-6.bb-img.my-4.pb-4.bg-samurai.z-top
      .bg-circle
        span.fa.fa-leanpub
      h3.txt-center
        a.txt-reset(href="https://samuraigame.org/certified-facilitators-2/#1439660506485-ae5fc77e-db2c", title="武士遊戲認證引導者", target='_blank') 武士遊戲
          span.txt-md.block The Samurai Game&reg;
      //- button.btn.btn-link.link-primary(type='button' data-bs-toggle='modal' data-bs-target='#modal-carousel') 情境式的體驗活動，促進組織、企業與學校的領導暨團隊發展
    .col-12.bb-img
      h2
        span.title-bg 校內
        |榮譽
    .col-12
      ul.list-fa-trophy
        li 國立臺灣師範大學109年度教師教學獎勵「教學優良獎」
        li 國立臺灣師範大學108學年度學術論文暨專書獎助
    .col-12.bb-img
      h2
        span.title-bg 學術
        |獎勵
    .col-12
      ul.list-fa-flag
        li 美國國務院傅爾布萊特學人 Fulbrighter
        li 榮獲教育部、行政院經濟建設委員會、行政院國家科學委員會所頒之「菁英留學計畫產業組代表」
    .col-12.bb-img
      h2
        span.title-bg 學術
        |服務
    .col-12
      a(href="https://www.fulbright.org.tw/zh-hant/fulbright-campus-advisor-program-fca/#national-taiwan-normal-university", title="傅爾布萊特校園顧問", target='_blank') 傅爾布萊特校園顧問 Fulbright Campus Advisor