-
  const chapters =
  [
    {
      year: 2022,
      chapter: '通識課程與表演藝術教學策略',
      book: '通識創意2022第十二屆 : 通識課程與跨領域藝術教學學術研討會論文集，108-127',
      publisher: '國立臺灣藝術大學'
    },
    {
      year: 2022,
      chapter: '表演藝術教學法創新之研究 : 跨領域與議題融入',
      book: '2022後疫情時代教學創新國際研討會：智慧教育世代的教學典範論文集，650-662',
      publisher: '國立雲林科技大學教學卓越中心'
    },
    {
      year: 2021,
      chapter: '跨域實踐研究 : 企業組織系統排列之焦點現象與表演藝術教育',
      book: '2021美感跨域與創新教學學術研討會論文集，83-103',
      publisher: '國立臺灣藝術大學'
    },
    {
      year: 2021,
      chapter: '音畫融入表演藝術教材教法之教學實踐研究',
      book: '2021教學創新示範學校國際研討會：新世代的教學實踐典範論文集，742-771',
      publisher: '國立雲林科技大學教學卓越中心'
    },
    {
      year: 2019,
      chapter: '商管教育之藝企合作教學實踐研究',
      book: '2019 教學創新示範學校國際研討會：創建新世代，162-185',
      publisher: '國立雲林科技大學教學卓越中心'
    },
    {
      year: 2019,
      chapter: "英雄面具（Hero/Heroline' s Mask）—表演藝術為本的教學法促進領導素養與跨域溝通",
      book: '2019美感素養與創新教學學術研討會論文集，18-34',
      publisher: '國立臺灣藝術大學藝術與人文教學研究所'
    },
    {
      year: 2018,
      chapter: '表演藝術師資培育與系統排列',
      book: '2018文化與科技創新學術研討會「在地與跨域的對話」論文集，71-86',
      publisher: '國立臺北科技大學文化事業發展系'
    },
    {
      year: 2017,
      chapter: '跨領域統整與教學自信 : 以中等學校表演藝術師資職前培育課程為例',
      book: '2017十二年國教人文與藝術跨領域教學創新學術研討會論文集，117-131',
      publisher: '國立臺灣藝術大學'
    }
  ]
