-
  const journals =
  [
    {
      year: 2020,
      topic: '精進臺灣國民中學表演藝術師資培育的教材教法：設計 Rasaboxes 教學模組之個案研究',
      pub: '亞洲戲劇教育學刊，9，53-76',
      href: 'http://www.dateasia.tefo.hk/index.php/dateasia/article/view/99'
    },
    {
      year: 2015,
      topic: 'Innovation, creativity, and imagination: Drama, theatre, performance in Taiwanese corporate training',
      pub: 'The Journal of Drama and Theatre Education in Asia, 5(1), 75-94',
      href: 'http://dateasia.tefo.hk/index.php/dateasia/article/view/12'
    },
    {
      year: 2014,
      topic: '批判性展演式教育學—從身體出發，剖析解放教育中的政治',
      pub: '戲劇教育與劇場研究，5，7-22',
      href: 'http://ridets.nutn.edu.tw/'
    },
    {
      year: 2013,
      topic: 'Performing mentor',
      pub: 'Business Education Innovation Journal, 5(1), 41-44',
      href: 'http://www.beijournal.com/v52013abstrtext/v5n1fulltext.html'
    },
    {
      year: 2013,
      topic: 'Applied theatre in corporate training',
      pub: 'Development and Learning in Organizations: An International Journal, 27(4), 15-18',
      href: 'https://www.emerald.com/insight/content/doi/10.1108/DLO-02-2013-0001/full/html'
    },
    {
      year: 2012,
      topic: 'The role of performance in healing: A personal reflective journey',
      pub: 'Journal of Applied Arts & Health, 3(2), 199-216',
      href: 'https://www.ingentaconnect.com/content/intellect/jaah/2012/00000003/00000002/art00007;jsessionid=8bd11tpqt5a62.x-ic-live-03'
    }
  ]