.vh-l-75
  .row.gx-2.gx-m-4
    .col-12
      h2.bb-img
        span.title-bg 簡
        |介

    .col-m-6.divide-line-v-m
      h3.bb-img.py-4
        span.fa.fa-briefcase.fa-2x.txt-primary.mr-4
        |職涯
      ul.list-group.list-group-flush.divide-line-h
        li.list-group-item.px-2.py-l-4
          span.px-1.b.b-primary.mb-2.radius.i-block.txt-primary.txt-sm Present
          h4.txt-bold.mb-2 表演藝術研究所 專任教授
          p 國立臺灣師範大學
        li.list-group-item.px-2.py-l-4
          h4.txt-bold.mb-2 金陵藝術學院 副教授
          p 南京大學
        li.list-group-item.px-2.py-l-4
          h4.txt-bold.mb-2 客家戲學系 兼任助理教授
          p 國立臺灣戲曲學院
        li.list-group-item.px-2.py-l-4
          h4.txt-bold.mb-2 表演藝術研究所 兼任助理教授
          p 國立臺灣師範大學
        li.list-group-item.px-2.py-l-4
          p.mb-2 廣告業行銷傳播集團
        li.list-group-item.px-2.py-l-4
          p.mb-2 國際藝術教育事業集團

    .col-m-6
      h3.bb-img.py-4
        span.fa.fa-university.fa-2x.txt-primary.mr-4
        |學歷
      ul.list-group.list-group-flush.divide-line-h
        li.list-group-item.px-2.py-l-6
          span.px-1.b.mb-2.radius.i-bloc.txt-sm 2010 - 2013
          h4.txt-bold.mb-2.py-l-4 傳播暨表演博士
          p 美國南伊利諾大學
        li.list-group-item.px-2.py-l-6
          span.px-1.b.mb-2.radius.i-bloc.txt-sm 2007 - 2008
          h4.txt-bold.mb-2.py-l-4 表演藝術暨教育劇場碩士
          p 美國紐約大學
        li.list-group-item.px-2.py-l-6
          h4.txt-bold.mb-2.py-l-4 外交暨國際貿易雙學士
          p 臺灣國立政治大學
