-
  const projects =
  [
    {
      date: '2022/08-2023/07',
      resource: '科技部 - 計畫主持人',
      project: '111年度專題研究計畫，學術性專書寫作計畫，表演藝術引導教練與企業組織系統排列'
    },
    {
      date: '2022/08-2023/01',
      resource: '國立臺灣師範大學教學發展中心 - 計畫主持人',
      project: '國立臺灣師範大學 111 學年度第 1 學期補助教學精進創新與專業社群計畫，校外參訪與實務講座在研究所藝企合作課程的應用'
    },
    {
      date: '2022/02-2022/07',
      resource: '國立臺灣師範大學教學發展中心 - 計畫主持人',
      project: '國立臺灣師範大學 110 學年度第 2 學期補助教學精進創新與專業社群計畫，表演藝術與雙語教學—專書篇章教育劇場的寫作暨出版'
    },
    {
      date: '2021/08-2023/01',
      resource: '教育部 - 計畫主持人',
      project: '110年度教育部補助師資培育之大學領域教材教法人才培育計畫，A-07 「跨域溝通、議題融入」藝術領域表演藝術科教材教法人才培育大學教師專業社群計畫'
    },
    {
      date: '2021/08-2022/01',
      resource: '國立臺灣師範大學教學發展中心 - 計畫主持人',
      project: '國立臺灣師範大學 110 學年度第 1 學期補助教學精進創新與專業社群計畫，精進表演藝術為本的教學法—以「大學入門」為例'
    },
    {
      date: '2021/02-2021/07',
      resource: '國立臺灣師範大學師資培育學院 - 計畫主持人',
      project: '國立臺灣師範大學109學年度第2學期中等學校教師師資職前教育課程實地學習暨教育實踐課程經費補助'
    },
    {
      date: '2020/08-2021/01',
      resource: '國立臺灣師範大學教學發展中心 - 計畫主持人',
      project: '國立臺灣師範大學109學年度第1學期補助教師教學精進創新與專業社群計畫，表演藝術教材教法—師資培育生「現場觀課」與「跨科教學」計畫'
    },
    {
      date: '2020/01-2021/12',
      resource: '國立臺灣師範大學研究發展處 - 計畫主持人',
      project: '國立臺灣師範大學學術研究推昇補助計畫，表演藝術與企業引導—劇場導演技巧與組織排列'
    },
    {
      date: '2019/08-2020/07',
      resource: '教育部 - 計畫主持人',
      project: '企業組織排列融入表演藝術教材教法之教學實踐研究'
    },
    {
      date: '2019/08-2019/12',
      resource: '國立臺灣師範大學師資培育與就業輔導處 - 計畫主持人',
      project: '國立臺灣師範大學108年度中等學校教師師資職前教育課程「實地學習」經費補助計畫'
    },
    {
      date: '2018/12-2019/04',
      resource: '教育部 - 分項計畫主持人',
      project: '國立臺灣師範大學107學年度精進師資素質及特色發展計畫各領域/學科核心素養導向教材教法工作坊/表演藝術科核心素養導向教材教法工作坊'
    },
    {
      date: '2018/09-2019/07',
      resource: '教育部 - 計畫主持人',
      project: '教育部補助師資培育之大學籌組師培教授社群及辦理新課綱師資生工作坊計畫/A2表演藝術科暨跨領域素養導向的課程教學研究計畫'
    },
    {
      date: '2018/09-2018/12',
      resource: '國立臺灣師範大學師資培育與就業輔導處 - 計畫主持人',
      project: '國立臺灣師範大學107年度「深化產業實習」補助計畫'
    },
    {
      date: '2018/08-2018/12',
      resource: '國立臺灣師範大學師資培育與就業輔導處 - 計畫主持人',
      project: '國立臺灣師範大學107年度中等學校教師師資職前教育課程「實地學習」經費補助計畫'
    },
    {
      date: '2018/08-2019/07',
      resource: '教育部 - 計畫主持人',
      project: '表演藝術融入商管教育之教學實踐研究'
    },
    {
      date: '2018/03-2018/07',
      resource: '教育部 - 計畫主持人',
      project: '國立臺灣師範大學教育專業課程授課教師至中等學校進行教學或研究活動計畫—表演藝術教師專業發展之實踐研究'
    },
    {
      date: '2017/12-2018/07',
      resource: '教育部 - 分項計畫主持人',
      project: '教育部補助師資培育大學辦理新課綱實務課程教授社群及師資生工作坊計畫「理解素養、踐行課綱—國立臺灣師範大學辦理新課綱實務課程研討計畫」，新課綱師資生系列講座—表演藝術教學實地情境學習的企劃與執行'
    },
    {
      date: '2017/11-2018/07',
      resource: '教育部 - 計畫主持人',
      project: '國立臺灣師範大學106學年度精進師資素質及特色發展計畫—各領域/學科教材教法工作坊/藝術與人文學習領域/表演藝術科教材教法'
    },
    {
      date: '2017/08-2017/12',
      resource: '國立臺灣師範大學師資培育與就業輔導處 - 計畫主持人',
      project: '國立臺灣師範大學106年度中等學校教師師資職前教育課程「實地學習」經費補助計畫'
    },
    {
      date: '2016/08-2017/07',
      resource: '教育部 - 協同/共同主持人',
      project: '國立臺灣師範大學 105 學年度精緻特色發展計畫，子計畫I-2藝術與人文領域精緻師資培育及養成計畫'
    }
  ]
