//- pug -E xml -P sitemap.pug -o static
<?xml version="1.0" encoding="utf-8" ?>
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  //- created with Free Online Sitemap Generator www.xml-sitemaps.com
  url
    loc https://shengtaofan.github.io/profile/
    lastmod #{new Date().toISOString()}
    priority 1